JWT_SECRET: "projectBagiSemuaTemanflower_beauty_salon"
CORS_ORIGIN: "*"
PORT: "4000"

TWILIO_ACCOUNT_SID: ""
TWILIO_AUTH_TOKEN: ""
TWILIO_SERVICE_SID: ""
TWILIO_PHONE_NUMBER: ""
WHATSAPP_TEST_MODE: "true"
BOOKING_REMINDER_CRON: "0 9 * * *"
BOOKING_REMINDER_TZ: "Asia/Jakarta"

MIDTRANS_MERCHANT_ID: ""
MIDTRANS_SERVER_KEY: ""
MIDTRANS_CLIENT_KEY: ""
MIDTRANS_IS_PRODUCTION: "false"


FRIEND_ACCOUNT_ID:""

# Table Name Bindings
BLOG_POSTS_TABLE:"blogposts"
BOOKINGS_TABLE:"bookings"
CATEGORIES_TABLE:"categories"
COUPONS_TABLE:"coupons"
GALLERY_ITEMS_TABLE:"galleryitems"
NOTIFICATIONS_TABLE:"notifications"
REVIEWS_TABLE:"reviews"
SERVICES_TABLE:"services"
TRANSACTIONS_TABLE:"transactions"
USERS_TABLE:"users"
SETTINGS_TABLE:"settings"